// 移动端适配
@use './reset.scss';
@use './dark.scss';

// Tailwind 基础样式
@tailwind base;
@tailwind components;
@tailwind utilities;


// Vant 样式
@import 'vant/lib/index.css';
:root:root {
  --van-blue: #0ea5e9;
  --van-blue-light: #90dfff;
  --van-blue-lighter: #beecfb;
  // --van-blue-lightest: #f5f7fa;
  --van-blue-lightest: #f5fafb;
  --van-blue-dark: #049ee6;
  --van-blue-darken: #0284c7;
  --van-tabbar-height: 72px;
  --van-primary-color: #0ea5e9;
  // --van-primary-color: #3b82f6;
  --van-primary-color-lightest: #f5fafb;
  --van-tabs-card-height: 50px;
  --van-calendar-selected-day-size: 44px;
  --van-calendar-header-subtitle-font-size: 1.25rem;
  // --van-button-primary-background: red;
}
.bg-primary-gradient {
  background: linear-gradient(135deg, #38bdf8 0%, #0284c7 100%);
  // background: linear-gradient(135deg, #38bdf8 0%, #189bdc 100%);
}
.bg-primary {
  background-color: var(--van-primary-color);
}
.text-primary {
  color: var(--van-primary-color);
}
// 全局样式
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  padding: 20px 0;
  text-align: center;
  // background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.page-content {
  padding: 20px;
  // min-height: calc(100vh - 100px);
}

.tabbar-padding-bottom {
  padding-bottom: var(--van-tabbar-height);
}

.border-primary {
  border-color: var(--van-primary-color);
}