// 移动端适配
@use './reset.scss';
@use './dark.scss';


// Vant 样式
@import 'vant/lib/index.css';
:root:root {
  --van-blue: #0ea5e9;
  // --van-button-primary-background: red;
}

// 全局样式
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  padding: 20px 0;
  text-align: center;
  // background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.page-content {
  padding: 20px;
  min-height: calc(100vh - 100px);
}